# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
#*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app
app/Makefile.Debug
app/Makefile.Release
app/path
app/StanowiskoChemiczne
app/StanowiskoChemiczne.pro.user
app/.vs/StanowiskoChemiczne/*
app/.vs/StanowiskoChemiczne/*
app/build/*
build/*
app/.vs/app/*
out/*
app/StanowiskoChemiczne — skrót.lnk
app/.vs/cmake.db
app/.vs/slnx.sqlite
app/out/build/windows-default/.ninja_deps
app/out/build/windows-default/StanowiskoChemiczne2.pdb
app/out/build/windows-default/StanowiskoChemiczne2.ilk
app/out/build/windows-default/CMakeCache.txt
app/out/build/windows-default/cmake_install.cmake
app/out/build/windows-default/build.ninja
app/out/build/windows-default/.ninja_log
.gitignore
app/.vs/CMake Overview
app/.vs/slnx.sqlite
app/.vs/slnx.sqlite
app/out/*
app/out/build/windows-default/*
app/StanowiskoChemiczne.dir/Debug/StanowiskoChemiczne.log
app/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
app/.vs/VSWorkspaceState.json
app/.vs/slnx.sqlite
build-StanowiskoChemiczne-*/moc/*
build-StanowiskoChemiczne-*/src/*
build-StanowiskoChemiczne-*/ui/*
build-StanowiskoChemiczne-*/build/*
build-StanowiskoChemiczne-*/Makefile
build-StanowiskoChemiczne-*/.qmake.stash
build-StanowiskoChemiczne-*/*
app/StanowiskoChemiczne.dir/Debug/StanowiskoChemiczne.log
app/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
app/exe/translations/*
app/StanowiskoChemiczne.dir/Debug/StanowiskoChemiczne.log
app/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
app/exe/exe.zip
app/StanowiskoChemiczne.pro.user.26743d9.22
app/moc/*
app/src/qrc_ikony.cpp
app/ui/*
pdf/build-CreatePdf-*/*
pdf/CreatePdf/CreatePdf
app/.vscode/configurationCache.log
app/.vscode/dryrun.log
app/.vscode/targets.log
app/CMakePresets.json
