# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
app/Makefile.Debug
app/Makefile.Release
app/path
app/StanowiskoChemiczne
app/StanowiskoChemiczne.pro.user
app/moc/moc_createtestwizard.cpp
app/moc/moc_czujnikanalogowyustawieniaokno.cpp
app/moc/moc_czujnikanalogowyustawieniawidget.cpp
app/moc/moc_czujnikanalogowywidget.cpp
app/moc/moc_czujnikianalogoweokno.cpp
app/moc/moc_digitaloutwidget.cpp
app/moc/moc_disablebutton.cpp
app/moc/moc_glowneokno.cpp
app/moc/moc_highlowdigitalwidget.cpp
app/moc/moc_nowyprojectdlg.cpp
app/moc/moc_nowytest_1.cpp
app/moc/moc_nowytest_2.cpp
app/moc/moc_nowytest_3.cpp
app/moc/moc_nowytest_4.cpp
app/moc/moc_nowytest_5.cpp
app/moc/moc_nowytest_6.cpp
app/moc/moc_nowytest_7.cpp
app/moc/moc_nowytest_8.cpp
app/moc/moc_nowytestdlg.cpp
app/moc/moc_oknostatusowe.cpp
app/moc/moc_otwartezawory.cpp
app/moc/moc_predefs.h
app/moc/moc_predefs.h.cbt
app/moc/moc_projektwidget.cpp
app/moc/moc_serialmessage.cpp
app/moc/moc_stanczujnika.cpp
app/moc/moc_sygnalanalparam.cpp
app/moc/moc_testpage.cpp
app/moc/moc_testpageform.cpp
app/moc/moc_testtabswidget.cpp
app/moc/moc_urzadzenia.cpp
app/moc/moc_ustawieniadozownikaokno.cpp
app/moc/moc_videowidget.cpp
app/moc/moc_wejsciaanalogowe.cpp
app/ui/ui_czujnikanalogowyustawieniawidget.h
app/ui/ui_czujnikanalogowywidget.h
app/ui/ui_digitaloutwidget.h
app/ui/ui_disablebutton.h
app/ui/ui_glowneokno.h
app/ui/ui_highlowdigitalwidget.h
app/ui/ui_nowyprojectdlg.h
app/ui/ui_nowytest_1.h
app/ui/ui_nowytest_2.h
app/ui/ui_nowytest_3.h
app/ui/ui_nowytest_4.h
app/ui/ui_nowytest_5.h
app/ui/ui_nowytest_6.h
app/ui/ui_nowytest_7.h
app/ui/ui_nowytest_8.h
app/ui/ui_nowytestdlg.h
app/ui/ui_oknostatusowe.h
app/ui/ui_otwartezawory.h
app/ui/ui_projektwidget.h
app/ui/ui_stanczujnika.h
app/ui/ui_testpageform.h
app/ui/ui_testtabswidget.h
app/ui/ui_urzadzenia.h
app/ui/ui_ustawieniadozownikaokno.h
app/ui/ui_videowidget.h
/app/.vs/app/v17/.suo
/app/.vs/app/v17/Browse.VC.opendb
