# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
app/Makefile.Debug
app/Makefile.Release
app/path
app/StanowiskoChemiczne
app/StanowiskoChemiczne.pro.user
/app/.vs/StanowiskoChemiczne/v17/*
/app/.vs/StanowiskoChemiczne/v16/*
/app/build/*
/app/.vs/app/v17/Browse.VC.opendb
build/*
